<button class="btn btn-primary page" *ngIf="currentPage !== 1"  (click)="loadMovie(false)" >Load previous</button>
<button class="btn btn-primary page"  (click)="loadMovie(true)" >Load next</button>
<div *ngFor="let movie of moviesList">
  <app-movies [genreListIds]="movie.genre_ids" [movie]="movie"></app-movies>
</div>
<button class="btn btn-primary page" *ngIf="currentPage !== 1"  (click)="loadMovie(false)" >Load previous</button>
<button class="btn btn-primary page"  (click)="loadMovie(true)" >Load next</button>

