<nav class="navbar navbar-toggleable-md navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarContent">
    <form class="form-inline my-2 my-lg-0">
      <input [(ngModel)]="filter"
             (keyup.enter)="search(filter)"
             name="search"
             class="form-control mr-sm-2"
             type="search" placeholder="Find movie...">
      <button class="btn btn-info my-2 my-sm-0" (click)="search(filter)">Search</button>
    </form>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
