<div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card-title">
            <h2 class="title">{{ movie.title }}</h2>
          </div>
        </div>
        <div class="col-md-3">
          <p><img src="{{ poster }}"  class="rounded mx-auto d-block"></p>
        </div>
        <div class="col-md-3">
          <p><strong>Average vote: </strong>{{ movie.vote_average }}</p>
          <p><strong>Relase date: </strong>{{ movie.release_date }}</p>
          <p><strong>Popularity: </strong>{{ movie.popularity }}</p>
          <p><strong>Votes: </strong>{{ movie.vote_count }}</p>
          <p><strong>Genre: </strong><span *ngFor="let genre of genres; let lastItem = last">{{genre}}<span *ngIf="!lastItem">, </span></span></p>
          <button class="btn btn-primary" routerLink="/detail/{{movie.id}}">Open detail</button>
        </div>
        <div class="col-md-5 text-justify" >
          <p>{{ movie.overview }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
