/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
  background-color: rgb(255, 255, 255);
}

nav {
  background: linear-gradient( #2292e2, #0161a7);
  font-weight: 400;
}

.card {
  margin: 0 0 20px 0;
  padding: 10px;
  box-shadow: 0 4px 14px 2px #94a0a1;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: help;
}

.page {
  margin: 20px 20px 20px 0;
}

.button-cursor {
  cursor: pointer;
}

footer {
  text-align:center;
}
